$background: #fff;
$backgroundDark: #e8ebed;
$normal: #000;
$normalLighter: #1b1d1f;
$primary: #e28800;
$secondary: #1b1d1f;
$primaryButton: #fad561;
$primaryButtonLighter: #fff6da;
$secondaryButton: #454c53;
$textOnDark: #9EA4AA;
$textOnDarkLighter: #fff;

$fontNormal: Arial, Helvetica, sans-serif;

$titleFontSize: 2em;
$smallerFontSize: 0.8em;